@font-face {
    font-family: 'Chiller LET';
    src: url('ChillerLET.eot');
    src: local('Chiller LET'), local('ChillerLET'),
        url('ChillerLET.eot?#iefix') format('embedded-opentype'),
        url('ChillerLET.woff2') format('woff2'),
        url('ChillerLET.woff') format('woff'),
        url('ChillerLET.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

