
@font-face { /*font*/
    font-family: 'Marck Script';
    src: url('../fonts/Marck_Script/MarckScript-Regular.ttf')
}

:root{
    font-family: 'Marck Script';
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    background-color: #d2b795;
}

.nav__items > a {
    text-decoration:none;
    color: #ffdac0;
  }

.nav__items > a:hover{
    cursor: default;
    border-bottom: 1px solid #2a2727;
}

.container{
    margin: 0 auto;
    display:grid;
    height: 100%;
    max-width:1637px;
grid-template-areas:  'hero-section-head-panel-grid hero-section-head-panel-grid'
                      'hero-section-aboutMe-grid hero-section-myPhoto-grid'
                      'hero-section-projects-grid hero-section-projects-grid'
                      'hero-section-timer-grid hero-section-skills-grid'
                      'hero-section-footer-grid hero-section-footer-grid';
}

/*1 grid - first*/
.hero-section-head-panel-grid{
    padding:10px;
    grid-area:hero-section-head-panel-grid;
}
.nav__panel, .footer__panel{
    width: 100%;
    height:70px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background: url('../images/nav/nav_panel.png');
    border-radius: 10px;
}
.footer__panel{
    margin-top: 30px;
}
.nav__panel > .open__modal{
    display: flex;
    align-self: center;
}
.nav__items {
    padding:20px 20px 0px 0px;
    margin-left:20px;
}


/*2 grid*/
.hero-section-aboutMe-grid{
    padding:10px;
    grid-area:hero-section-aboutMe-grid;
}
.hero-section-aboutMe-grid > a:hover{
    cursor: none;
}

/*3 grid*/
.hero-section-myPhoto-grid{
    padding:10px;
    grid-area:hero-section-myPhoto-grid;
}

.Photo__author{
    width: 566px;
    height: 755px;
    background: url('../images/general_photo/GP.png');
    border-radius:10%;
}



/*4 grid*/
.hero-section-projects-grid{
    grid-area:hero-section-projects-grid;
    width: 100%;
    height: 100%;
    min-width: 301px;
}

.card-flex-container{             /*card-grid => flex-container*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}
/*grid №4 - totalSettings for elements FlexBox*/
.flex__box{
    width: 225px;
    height: 225px;
    margin-left: 40px;
    height: 100%;
    margin-top:20px;
}
.card{
    list-style:none;
    position: relative;
}

.card:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 150%
}

.card__background{
    background-size: cover;
    background-position: center;
    bottom:0;
    border-radius: 15px;
    filter:brightness(0.75) saturate(1.2) contrast(0.85);
    left:0;
    position:absolute;
    right:0;
    top:0;
    transform: scale(1) translateZ(0);
    transition: filter 200ms linear, transform 200ms linear;
}

.card:hover .card__background{
    transform: scale(1.05) translateZ(0);
}

.card-flex-container:hover .card:not(:hover) .card__background{
    filter:brightness(0.5) saturate(0) contrast(1.2) blur(20px);

}


.card__content{
    left:0;
    position: absolute;
    top:0;
}

.card__category{
    font-size: 0.9rem;
    text-transform: uppercase;
}

.card__heading{
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2) ;
    line-height: 1.4;
    word-spacing: 100vw;
}
.itemFb__5 {
       color: #ffdac0;

}
.itemFb__4, .itemFb__3, .itemFb__2, .itemFb__1 {
    color: #af2424;
    font-weight: bold;

}

.flex__box> a{
    font-weight: bold;
    cursor: pointer;
}

/*5 grid*/
.hero-section-timer-grid{
    padding:10px;
    grid-area: hero-section-timer-grid;
    max-height: 403px;
    max-width: 100%;
    margin-bottom: 20px;
}
.timer__header{
    display: flex;
    justify-content: space-around;
    margin-left: 70px;
}

.timer__container{
    height:300px;
    width: 100%;
    display:flex;
    flex-direction:row;
    align-content:flex-start;
    align-items:start;
    text-align:center;
    flex-wrap:wrap;
}

.timer__table{
    text-align: center;
    display:flex;
    width: 120px;
    height: 80px;
    background: url('../images/timer/timer_border.png');
    justify-content:center;
    align-content:center;
    align-items:center;
    text-align:center;
    flex-wrap:wrap;
    margin-left: 70px;
}
.timInner{
    font-style:italic;
    font-size:30px;
    flex-wrap:wrap;
    font-weight: bold;
}

/*6 grid*/
.skills__header{
    margin-left:60px;
    font-style: italic;
}

.hero-section-skills-grid {
    padding: 0px;
    margin:0;
    grid-area: hero-section-skills-grid;
    width:100%;
    height:440px;

}


.slider-wrapper, .dot{
    display: inline-block;
    vertical-align: middle;
}

.slider-wrapper{
    display: flex;
    overflow: hidden;
    width:400px;
    height:200px;
    margin-top: 160px;
    box-shadow: 1px 1px 10px 2px #252121;
    margin-left: -280px;
    border-radius: 10px;
}

.slider-line{
    display: flex;
    position: relative;
    left:0;
    transition: 1s;
}

.button__containerFB {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: flex-end;
    width: 500px;
    height: 30px;
    margin-left: 50px;
}
.button-prev{

    background:url('../images/slider/Prev_arrow.png');
}
.button-next{

    background:url('../images/slider/Next_arrow.png');
}

.button-next, .button-prev{
    display: flex;
    border: none;
    width: 200px;
    height:40px;
    margin-right: 40px;
    margin-top: -30px;


}


.dot:hover{ background: #000000;}
.dot:active{ background: #808080;}

.dots-wrapper{
    flex-direction: row;
    display: flex;
    align-content: stretch;
    flex-wrap: nowrap;
    width: 480px;
    height: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: -240px;
}

.dot {
    z-index: 2;
    width: 20px;
    height: 20px;
    background: #808080;
    border-radius: 10px;
    display: flex;
    margin-left: 20px;
    margin-bottom: 10px;
  }

.active {
    background: #000000
}



/*7 grid - finally*/
.hero-section-footer-grid{
    padding:10px;
    grid-area:hero-section-footer-grid;
}
.footer__panel{
    display: flex;
}
.footer__items{
    width: 100%;
    display: flex;
    justify-content: center;
    padding:20px;

}

.footer__items>a>img{
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid orange;
    cursor: pointer;
}


/*settings modal*/

.dm-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.45);
    display: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    z-index: 1000;
}


.dm-table {
    display: table;
    width: 100%;
    height: 100%;
}
/* ячейка блочной таблицы */
.dm-cell {
    display: table-cell;
    /*padding: 0 1em;*/
    vertical-align: middle;
    text-align: center;
}
/* модальный блок */
.dm-modal {
    display: inline-block;
    padding: 20px;
    /* максимально возможная ширина */
    max-width: 357px;
    background: #a15d3d;
    color: #cfd8dc;
    text-align: left;

}
.modal__close{
    position:relative;
    max-width: 20px;
    max-height: 20px;
    margin-left:95%;
    font-size:30px;
    color:#000;
    opacity:.5;
    font-weight:700;
    border:none;
    background-color:transparent;
    cursor:pointer
}

.open__modal{
    margin-top: 20px;
    background-color: #ffdac0;
    border: none;
    font-family: 'Marck Script';
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    max-width:273px;
    min-height: 40px;
    cursor: pointer;
}

.show{
    display:block
}
.hide{
    display:none
}


@media(max-width: 1120px){
    .container {
        grid-template-areas:  'hero-section-head-panel-grid hero-section-head-panel-grid'
                      'hero-section-aboutMe-grid hero-section-myPhoto-grid'
                      'hero-section-projects-grid hero-section-projects-grid'
                      'hero-section-timer-grid hero-section-timer-grid'
                      'hero-section-skills-grid hero-section-skills-grid'
                      'hero-section-footer-grid hero-section-footer-grid';

    }
    :root{
       font-size: 0.99999em;
    }
    .sum__menu{
        font-size: 0.99999em;
    }

    .Photo__author{
        max-width: 425px;
        max-height: 566px;
        background: url('../images/general_photo/GP-1-size.png');
    }
    .footer__panel{
        margin-top: -100px;
    }
    .hero-section-timer-grid{
                margin-bottom: -10%;
    }

}
@media(max-width: 821px){
    .Photo__author{
        max-width: 318px;
        max-height: 425px;
        background: url('../images/general_photo/GP-2-size.png');
    }

}
@media(max-width: 629px){
    .hero-section-timer-grid{
        margin-bottom: 5%;
    }
}
@media(max-width: 560px){
    .container {
        grid-template-areas:  'hero-section-head-panel-grid hero-section-head-panel-grid'
                      'hero-section-aboutMe-grid hero-section-aboutMe-grid '
                      'hero-section-myPhoto-grid hero-section-myPhoto-grid'
                      'hero-section-projects-grid hero-section-projects-grid'
                      'hero-section-timer-grid hero-section-timer-grid'
                      'hero-section-skills-grid hero-section-skills-grid'
                      'hero-section-footer-grid hero-section-footer-grid';

    }

    .Photo__author{
        max-width: 239px;
        max-height: 319px;
        background: url('../images/general_photo/GP-3-size.png');
    }
    .nav__panel{
        max-width: 510px;
    }
    .hero-section-projects-grid{
        max-width: 250px;
    }
}

@media(max-width: 546px){
    .Photo__author{
        max-width: 239px;
        max-height: 319px;
        background: url('../images/general_photo/GP-3-size.png');
    }
    .hero-section-aboutMe-grid{
        max-width:400px;
    }
}

@media(max-width: 528px){
       .nav__panel{
        max-width: 400px;
           height: 100%;
           flex-direction: column;
    }
}

@media(max-width: 440px){
    .hero-section-aboutMe-grid{
        max-width:350px;
    }
    .hero-section-timer-grid{
        max-width: 250px;
        max-height: 100%;

    }
    .timer__container{
        height: 100%;
    }
    .hero-section-skills-grid{
        margin-left: -110px;
        transform:scale(.6, .6);

    }
    .hero-section-skills-grid > .sub__menu{
        transform:scale(1.6, 1.6);
        margin-left: 120px;
    }

    .footer__panel{
        justify-content: flex-start;
        margin-left: 10px;
        max-width: 305px;
        margin-top: -120px;
        }
    .hero-section-timer-grid{
        margin-bottom: -15%;
    }
}

